{# Schema/model imports for generated route files. #}
{# Route files do "from ..dependencies import *" to get these. #}
{# Per-tag dependency (get_*_service) lives in app.dependencies.<tag> - see routers.jinja2. #}
{{ imports }}
